html, body{
    font-family: "Poppins-Regular", sans-serif;
    font-size: 14px;
    line-height: 20px;
}
body.active{
    overflow: hidden;
}
*{
    margin: 0;
    padding: 0;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
}
.wrapper{
    min-height: 100%;
    width: 100%;
    overflow: hidden;
    background-color: #000;
}

.overlay{
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 50;
    background: #0000007d;
    visibility: hidden;
    opacity: 0;
    -webkit-transition: all .3s;
    -o-transition: all .3s;
    transition: all .3s;
}
.overlay.active{
    visibility: visible;
    opacity: 1;
}

.text{
    color: #fff;
    margin: 0;
    padding: 0;
}

.header_body_icons{
    display: -webkit-inline-box;
    display: -ms-inline-flexbox;
    display: inline-flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    margin: 4px 40px 41px 0px;
}
.icons{
    font-size: 12px;
    line-height: 12px;
    margin-right: 16px;
}
.icons:last-child{
    margin-right: 0px;
}
.icon1 svg, .icon2 svg, .icon3 svg, .icon4 svg{
    margin-right: 6px;
}

.box_button{
    background-color: #fff;
    border-radius: 14px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-transition: all .3s;
    -o-transition: all .3s;
    transition: all .3s;
}
.box_button:hover{
    -webkit-transform: scale(1.1);
        -ms-transform: scale(1.1);
            transform: scale(1.1);
}
.but_a{
    color: #000;
    font-size: 15px;
    letter-spacing: 0.4px;
    text-decoration: none;
    padding-right: 10px;
    border-radius: 14px;
    border: none;
}
.but_a svg{
    margin: 5px 6px 5px 4px;
}

/* --------------------------------------- */

.header{
    height: 100vh;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
}
.header_top{
    height: 90px;
    background-color: #181818;
    padding: 0 133px;
}

.header_top_conteiner{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack:justify;
        -ms-flex-pack:justify;
            justify-content:space-between;
    height: 100%;
    padding: 20px;
}

.header_top_img{
    margin-right: 30px;
}
.header_top_img img{
    width: 128px;
    height: 31px;
}

.header_right{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
}

.header_top_zagolovok{
    margin-right: 60px;
    font-size: 13px;
    white-space: nowrap;
}

.header_nav_list{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    margin: 0;
    padding: 0;
    list-style: none;
}
.header_nav_item{
    margin-right: 32px;
}
.header_nav_item:last-child{
    margin-right: 0px;
}

.header_nav_link{
    font-size: 15px;
    text-decoration: none;
    white-space: nowrap;
    text-align: center;
    border: none;
    -webkit-transition: all .2s;
    -o-transition: all .2s;
    transition: all .2s;
}

.header_nav_link:hover {
    border-bottom: 2px solid #fff;
} 


.header_top_button{
    font-size: 16px;
    letter-spacing: 0.4px;
    border-radius: 14px;
    background: #fff;
    color: #000;
    text-decoration: none;
    white-space: nowrap;
    text-align: center;
    margin-left: 36px;
    padding: 12px 22px;
    -webkit-transition: .3s;
    -o-transition: .3s;
    transition: .3s;
    border: none;
}
.header_top_button:hover{
    -webkit-transform: scale(1.1);
        -ms-transform: scale(1.1);
            transform: scale(1.1);
}

.burger{
    display: none;
}

.header_body{
    -webkit-box-flex: 1;
        -ms-flex-positive: 1;
            flex-grow: 1;
    background: url("../img/bg/bg1.jpg") no-repeat center / cover;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: end;
        -ms-flex-align: end;
            align-items: end;
    -webkit-box-pack: end;
        -ms-flex-pack: end;
            justify-content: end;
}

.header_body_text{
    text-align: center;
    -ms-flex-item-align: center;
        -ms-grid-row-align: center;
        align-self: center;
}
.header_body_text1{
    color: #C0C0C0;
    letter-spacing: 2px;
    text-transform: uppercase;
}
.header_body_text2{
    white-space: nowrap;
    font-size: 54px;
    line-height: 59.4px; 
    margin: 1px 0px 18px;
    -webkit-animation: tracking-in-expand 1s cubic-bezier(0.215, 0.610, 0.355, 1.000) both;
            animation: tracking-in-expand 1s cubic-bezier(0.215, 0.610, 0.355, 1.000) both;
}
@-webkit-keyframes tracking-in-expand {
    0% {
        letter-spacing: -0.5em;
        opacity: 0;
    }
    40% {
        opacity: 0.6;
    }
    100% {
        opacity: 1;
    }
}
@keyframes tracking-in-expand {
    0% {
        letter-spacing: -0.5em;
        opacity: 0;
    }
    40% {
        opacity: 0.6;
    }
    100% {
        opacity: 1;
    }
}
.header_body_text3{
    max-width: 580px;
    color: #C0C0C0;
}

/* --------------------------------- */

.section_1{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
}
.section_1_conteiner{
    padding: 120px 0 100px 0;
    max-width: 1200px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
}

.sc_1_text{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    margin-bottom: 40px;
}
.sc_1_text h2{
    font-size: 40px;
    line-height: 42px;
    margin-bottom: 15px;
}
.sc_1_text p{
    color: #C0C0C0;
    font-size: 23px;
    line-height: 30px;
    text-align: center;
}

.sc_1_box{
    padding: 0 16px;
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: auto 16px auto;
    grid-template-columns: auto auto;
    -ms-grid-rows: 600px 16px 600px;
    grid-template-rows: 600px 600px;
    -webkit-column-gap: 16px;
       -moz-column-gap: 16px;
            column-gap: 16px;
    row-gap: 16px;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
}

.sc_1_box > *:nth-child(1){
    -ms-grid-row: 1;
    -ms-grid-column: 1;
}

.sc_1_box > *:nth-child(2){
    -ms-grid-row: 1;
    -ms-grid-column: 3;
}

.sc_1_box > *:nth-child(3){
    -ms-grid-row: 3;
    -ms-grid-column: 1;
}

.sc_1_box > *:nth-child(4){
    -ms-grid-row: 3;
    -ms-grid-column: 3;
}

.box1{
    background: url("../img/sections_1/sc_1.jpg") no-repeat center / cover;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: start;
    -webkit-box-pack: end;
        -ms-flex-pack: end;
            justify-content: end;
    padding: 0 0 30px 30px;
}
.box2{
    background: url("../img/sections_1/sc_2.jpg") no-repeat center / cover;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: start;
    -webkit-box-pack: end;
        -ms-flex-pack: end;
            justify-content: end;
    padding: 0 0 30px 30px;
}
.box3{
    background: url("../img/sections_1/sc_3.jpg") no-repeat center / cover;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: start;
    -webkit-box-pack: end;
        -ms-flex-pack: end;
            justify-content: end;
    padding: 0 0 30px 30px;
}
.box4{
    background: url("../img/sections_1/sc_4.jpg") no-repeat center / cover;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: start;
    -webkit-box-pack: end;
        -ms-flex-pack: end;
            justify-content: end;
    padding: 0 0 30px 30px;
}

.sc_1_h{
    letter-spacing: 2px;
    text-transform: uppercase;
    font-size: 14px;
    margin-bottom: 10px;
    min-height: 20px;
}
.sc_1_p{
    color: #C0C0C0;
    min-height: 80px;
    text-align: left;
    margin: 0 30px 17px 0;
}

.more-box1 {
    display: none;
    position: fixed;
    z-index: 9999;
    left: 50%;
    top: 50%;
    -webkit-transform: translate(-50%,-50%);
        -ms-transform: translate(-50%,-50%);
            transform: translate(-50%,-50%);
}  
.more-box2 {
    display: none;
    position: fixed;
    z-index: 9999;
    left: 50%;
    top: 50%;
    -webkit-transform: translate(-50%,-50%);
        -ms-transform: translate(-50%,-50%);
            transform: translate(-50%,-50%);
}  
.more-box3 {
    display: none;
    position: fixed;
    z-index: 9999;
    left: 50%;
    top: 50%;
    -webkit-transform: translate(-50%,-50%);
        -ms-transform: translate(-50%,-50%);
            transform: translate(-50%,-50%);
}  
.more-box4 {
    display: none;
    position: fixed;
    z-index: 9999;
    left: 50%;
    top: 50%;
    -webkit-transform: translate(-50%,-50%);
        -ms-transform: translate(-50%,-50%);
            transform: translate(-50%,-50%);
}  

.more-box-content {
    margin: 10% auto;
    padding: 20px;
    width: 100vh;
    height: 80vh;
    border-radius: 10px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: start;
    -webkit-box-pack: end;
        -ms-flex-pack: end;
            justify-content: end;
    position: relative;
    overflow: hidden;
    --glow-color: rgb(255, 255, 255);
    --glow-spread-color: rgba(255, 255, 255, 0.781);
    border: 0.25em solid var(--glow-color);
    outline: none;
    -webkit-box-shadow: 0 0 1em 0.25em var(--glow-color),
    0 0 4em 1em var(--glow-spread-color),
    inset 0 0 0.75em 0.25em var(--glow-color);
            box-shadow: 0 0 1em 0.25em var(--glow-color),
    0 0 4em 1em var(--glow-spread-color),
    inset 0 0 0.75em 0.25em var(--glow-color);
    -webkit-transition: all 0.3s;
    -o-transition: all 0.3s;
    transition: all 0.3s;
}  

.more-box1-content::after {
    content: '';
    width: 100%;
    height: 100%;
    background: url("../img/sections_1/sc_1.jpg") no-repeat center / cover;
    border-radius: 10px;
    z-index: -10;
    position: absolute;
    left: 50%;
    top: 50%;
    -webkit-transform: translate(-50%,-50%);
        -ms-transform: translate(-50%,-50%);
            transform: translate(-50%,-50%);
    -webkit-animation: kenburns-bottom 5s ease-out both;
            animation: kenburns-bottom 5s ease-out both;
}
.more-box2-content::after {
    content: '';
    width: 100%;
    height: 100%;
    background: url("../img/sections_1/sc_2.jpg") no-repeat center / cover;
    border-radius: 10px;
    z-index: -10;
    position: absolute;
    left: 50%;
    top: 50%;
    -webkit-transform: translate(-50%,-50%);
        -ms-transform: translate(-50%,-50%);
            transform: translate(-50%,-50%);
    -webkit-animation: kenburns-bottom 5s ease-out both;
            animation: kenburns-bottom 5s ease-out both;
}
.more-box3-content::after {
    content: '';
    width: 100%;
    height: 100%;
    background: url("../img/sections_1/sc_3.jpg") no-repeat center / cover;
    border-radius: 10px;
    z-index: -10;
    position: absolute;
    left: 50%;
    top: 50%;
    -webkit-transform: translate(-50%,-50%);
        -ms-transform: translate(-50%,-50%);
            transform: translate(-50%,-50%);
    -webkit-animation: kenburns-bottom 5s ease-out both;
            animation: kenburns-bottom 5s ease-out both;
}
.more-box4-content::after {
    content: '';
    width: 100%;
    height: 100%;
    background: url("../img/sections_1/sc_4.jpg") no-repeat center / cover;
    border-radius: 10px;
    z-index: -10;
    position: absolute;
    left: 50%;
    top: 50%;
    -webkit-transform: translate(-50%,-50%);
        -ms-transform: translate(-50%,-50%);
            transform: translate(-50%,-50%);
    -webkit-animation: kenburns-bottom 5s ease-out both;
            animation: kenburns-bottom 5s ease-out both;
}
@-webkit-keyframes kenburns-bottom {
    0% {
        -webkit-transform: translate(-50%,-50%) scale(1);
                transform: translate(-50%,-50%) scale(1);
        -webkit-transform-origin: 50% 84%;
                transform-origin: 50% 84%;
    }
    100% {
        -webkit-transform: translate(-50%,-50%) scale(1.2);
                transform: translate(-50%,-50%) scale(1.2);
        -webkit-transform-origin: bottom;
                transform-origin: bottom;
    }
}
@keyframes kenburns-bottom {
    0% {
        -webkit-transform: translate(-50%,-50%) scale(1);
                transform: translate(-50%,-50%) scale(1);
        -webkit-transform-origin: 50% 84%;
                transform-origin: 50% 84%;
    }
    100% {
        -webkit-transform: translate(-50%,-50%) scale(1.2);
                transform: translate(-50%,-50%) scale(1.2);
        -webkit-transform-origin: bottom;
                transform-origin: bottom;
    }
}

.close {
    position: absolute;
    color: #aaa;
    top: 20px;
    right: 20px;
    font-size: 34px;
    font-weight: bold;
    cursor: pointer;
}
.close:hover,
.close:focus {
    color: #fff;
    text-decoration: none;
    cursor: pointer;
}



/* ---------------------------- */

.section_2{
    background: url("../img/bg/bg2.jpg") no-repeat center / cover;
    display: -ms-grid;
    display: grid;
    -ms-grid-rows: 340px 260px;
    grid-template-rows: 340px 260px;
    -webkit-box-pack: end;
        -ms-flex-pack: end;
            justify-content: end;
    -webkit-box-align: end;
        -ms-flex-align: end;
            align-items: end;
}

.section_2_text{
    margin-right: 60px;
    text-align: left;
    width: 300px;
}
.sc_2_h{
    font-size: 14px;
    letter-spacing: 2px;
    text-transform: uppercase;
}
.sc_2_p{
    color: #C0C0C0;
}

/* ----------------------- */

.section_3{
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 50% 50%;
    grid-template-columns: 50% 50%;
    -ms-grid-rows: 540px;
    grid-template-rows: 540px;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
}

.section_3 > *:nth-child(1){
    -ms-grid-row: 1;
    -ms-grid-column: 1;
}

.section_3 > *:nth-child(2){
    -ms-grid-row: 1;
    -ms-grid-column: 2;
}

.sc_3_box{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: start;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    text-align: left;
    margin: 0 60px;
    padding: 60px 46px 40px 40px;
}
.sc_3_p1{
    color: #C0C0C0;
    letter-spacing: 2px;
    text-transform: uppercase;
    margin-bottom: 6px;
}
.sc_3_h{
    font-size: 28px;
    line-height: 32px; 
    margin-bottom: 14px;
}
.sc_3_p{
    margin-bottom: 20px;
}

.sc_3_icons{
    background: url("../img/bg/bg3.jpg") no-repeat center / cover;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: end;
        -ms-flex-pack: end;
            justify-content: end;
    -webkit-box-align: end;
        -ms-flex-align: end;
            align-items: end;
}

/* ----------------------- */

.section_4{
    background: url("../img/bg/bg4.jpg") no-repeat center / cover;
    display: -ms-grid;
    display: grid;
    -ms-grid-rows: 340px 260px;
    grid-template-rows: 340px 260px;
    -webkit-box-pack: end;
        -ms-flex-pack: end;
            justify-content: end;
    -webkit-box-align: end;
        -ms-flex-align: end;
            align-items: end;
}

.section_4_text{
    margin-right: 60px;
    text-align: left;
    width: 300px;
    padding-right: 27px;
}
.sc_4_h{
    font-size: 14px;
    letter-spacing: 2px;
    text-transform: uppercase;
}
.sc_4_p{
    color: #C0C0C0;
}

/* ----------------------- */

.section_5{
    min-height: 500px;
    padding: 120px 120px 100px;
}
.section_5_conteiner{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;  
    
}
.section_5_text{
    text-align: center;
    margin-bottom: 40px;
}
.sc_5_h{
    font-size: 40px;
    line-height: 42px;
    margin-bottom: 15px;
}
.sc_5_p{
    color: #C0C0C0;
    font-size: 24px;
    line-height: 30px;
}

.section_5_logo{
    padding: 40px 46px;
    display: -ms-grid;
    display: grid;
    -ms-grid-rows: auto;
    grid-template-rows: auto;
    -ms-grid-columns: 128px 109px 128px 109px 128px 109px 128px 109px 128px;
    grid-template-columns: repeat(5, 128px);
    -webkit-column-gap: 109px;
       -moz-column-gap: 109px;
            column-gap: 109px;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    opacity: 0;
}

.section_5_logo > *:nth-child(1){
    -ms-grid-row: 1;
    -ms-grid-column: 1;
}

.section_5_logo > *:nth-child(2){
    -ms-grid-row: 1;
    -ms-grid-column: 3;
}

.section_5_logo > *:nth-child(3){
    -ms-grid-row: 1;
    -ms-grid-column: 5;
}

.section_5_logo > *:nth-child(4){
    -ms-grid-row: 1;
    -ms-grid-column: 7;
}

.section_5_logo > *:nth-child(5){
    -ms-grid-row: 1;
    -ms-grid-column: 9;
}

.sc_5_img_logo{
    width: 128px;
}
.section_5_logo.animated{
    -webkit-animation: bounce-in-top 1.1s both;
            animation: bounce-in-top 1.1s both;
    opacity: 1;
}

@-webkit-keyframes bounce-in-top {
    0% {
        -webkit-transform: translateY(-500px);
        transform: translateY(-500px);
        -webkit-animation-timing-function: ease-in;
        animation-timing-function: ease-in;
        opacity: 0;
    }
    38% {
        -webkit-transform: translateY(0);
        transform: translateY(0);
        -webkit-animation-timing-function: ease-out;
        animation-timing-function: ease-out;
        opacity: 1;
    }
    55% {
        -webkit-transform: translateY(-65px);
        transform: translateY(-65px);
        -webkit-animation-timing-function: ease-in;
        animation-timing-function: ease-in;
    }
    72% {
        -webkit-transform: translateY(0);
        transform: translateY(0);
        -webkit-animation-timing-function: ease-out;
        animation-timing-function: ease-out;
    }
    81% {
        -webkit-transform: translateY(-28px);
        transform: translateY(-28px);
        -webkit-animation-timing-function: ease-in;
        animation-timing-function: ease-in;
    }
    90% {
        -webkit-transform: translateY(0);
        transform: translateY(0);
        -webkit-animation-timing-function: ease-out;
        animation-timing-function: ease-out;
    }
    95% {
        -webkit-transform: translateY(-8px);
        transform: translateY(-8px);
        -webkit-animation-timing-function: ease-in;
        animation-timing-function: ease-in;
    }
    100% {
        -webkit-transform: translateY(0);
        transform: translateY(0);
        -webkit-animation-timing-function: ease-out;
        animation-timing-function: ease-out;
    }
}

@keyframes bounce-in-top {
    0% {
        -webkit-transform: translateY(-500px);
        transform: translateY(-500px);
        -webkit-animation-timing-function: ease-in;
        animation-timing-function: ease-in;
        opacity: 0;
    }
    38% {
        -webkit-transform: translateY(0);
        transform: translateY(0);
        -webkit-animation-timing-function: ease-out;
        animation-timing-function: ease-out;
        opacity: 1;
    }
    55% {
        -webkit-transform: translateY(-65px);
        transform: translateY(-65px);
        -webkit-animation-timing-function: ease-in;
        animation-timing-function: ease-in;
    }
    72% {
        -webkit-transform: translateY(0);
        transform: translateY(0);
        -webkit-animation-timing-function: ease-out;
        animation-timing-function: ease-out;
    }
    81% {
        -webkit-transform: translateY(-28px);
        transform: translateY(-28px);
        -webkit-animation-timing-function: ease-in;
        animation-timing-function: ease-in;
    }
    90% {
        -webkit-transform: translateY(0);
        transform: translateY(0);
        -webkit-animation-timing-function: ease-out;
        animation-timing-function: ease-out;
    }
    95% {
        -webkit-transform: translateY(-8px);
        transform: translateY(-8px);
        -webkit-animation-timing-function: ease-in;
        animation-timing-function: ease-in;
    }
    100% {
        -webkit-transform: translateY(0);
        transform: translateY(0);
        -webkit-animation-timing-function: ease-out;
        animation-timing-function: ease-out;
    }
}
/* ----------------------- */

.section_6{
    background: url("../img/bg/bg5.jpg") no-repeat center / cover;
    display: -ms-grid;
    display: grid;
    -ms-grid-rows: 340px 260px;
    grid-template-rows: 340px 260px;
    -webkit-box-pack: end;
        -ms-flex-pack: end;
            justify-content: end;
    -webkit-box-align: end;
        -ms-flex-align: end;
            align-items: end;
}

.section_6_text{
    margin-right: 60px;
    text-align: left;
    width: 300px;
    padding-right: 46px;
}
.sc_6_h{
    font-size: 14px;
    letter-spacing: 2px;
    text-transform: uppercase;
}
.sc_6_p{
    color: #C0C0C0;
}

/* ----------------------- */

.section_7{
    max-height: 414px;
    padding: 113px 0 100px;
}

.sc_7_box{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    text-align: center;
}
.sc_7_h{
    max-width: 571px;
    font-size: 40px;
    line-height: 42px;
    margin: 0 15px 15px 15px;
}
.sc_7_p{
    color: #C0C0C0;
    font-size: 24px;
    line-height: 30px;
    margin-bottom: 22px;
}

/* ----------------------- */

.footer{
    min-height: 652px;
    padding: 100px 136px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
}

.footer_sc1{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
}
.sc1_1{
    margin-right: 15px;
}
.sc1_1_1 img{
    margin-bottom: 20px;
    width: 128px;
    height: 31px;
}
.sc1_1_2{
    color: #C0C0C0;
    font-size: 13px;
}

.sc1_2_spusku{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    padding-right: 102px;
}
.sc1_2{
    margin-right: 16px;
}

.sc1_2_ul{
    list-style: none;
    margin: 0;
    padding: 0;
}
.sc1_2_ul li{
    margin-bottom: 10px;
}
.sc1_2_ul li:last-child{
    margin-bottom: 0;
}
.sc1_2_li_zag{
    color: #C0C0C0;
    letter-spacing: 2px;
    text-transform: uppercase;
}

.footer_sc2{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
}
.hr{
    width: 100%;
    border: 2px solid #fff;
    margin: 36px 0;
    padding: 0;
}
.hr2{
    margin-bottom: 56px
}
.footer_sc2_1{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    margin-right: 55px;
    width: 100%;
}
.footer_sc2_1_t1{
    letter-spacing: 2px;
    text-transform: uppercase;
    margin-bottom: 20px;
}
.footer_sc2_1_t2{
    color: #C0C0C0;
    font-size: 13px;
}
.footer_sc2_form{
    width: 100%;
    max-width: 458px;
    height: 52px;
    border-radius: 12px;
    border: 1px solid #E5E7EB;
    background: #F9FAFB;
    position: relative;
}
.footer_sc2_textarea{
    resize: none;
    width: 100%;
    height: 100%;
    border: none;
    border-radius: 12px;
    font-size: 16px;
    padding-left: 4px;
}
.footer_sc2_2_button{
    position: absolute;
    top: 50%;
    right: 0;
    -webkit-transform: translateY(-50%);
        -ms-transform: translateY(-50%);
            transform: translateY(-50%);
    margin-right: 6px;
    padding: 0 5px;
    min-width: 63px;
    height: 30px;
    border-radius: 11px;
    background: #000;
    color: #fff;
    text-align: center;
}

.footer_sc3{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
}
.footer_sc3 p{
    color: #C0C0C0;
    margin-right: 25px;
}
.footer_sc3_merezi{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
}
.footer_sc3_merezi svg{
    margin-right: 20px;
    color: #C0C0C0;
}
.footer_sc3_merezi svg:last-child{
    margin-right: 0px;
}
.footer_sc3_merezi svg:hover{
    fill: #fff;
}

/* ----------------------------- */
/* ----------1150px------------- */
/* ----------------------------- */

@media (max-width: 1150px){
    .header_top{
        padding: 0 70px;
    }
    .header_top_img{
        margin-right: 15px;
    }
    .header_top_zagolovok{
        margin-right: 20px;
    }
    .menu_cen{
        margin: 0px 20px;
    }
    .header_top_button{
        margin-left: 20px;
    }
    .header_body div.header_body_icons{
        margin: 15px 40px 41px 30px;
    }
    .section_5_logo{
        -webkit-column-gap: 50px;
           -moz-column-gap: 50px;
                column-gap: 50px;
    }
    .footer_sc1{
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
            -ms-flex-direction: column;
                flex-direction: column;
        -webkit-box-align: start;
            -ms-flex-align: start;
                align-items: start;
    }
    .sc1_1{
        margin-bottom: 30px;
    }
    .sc1_2_spusku{
        padding-right: 10px;
    }
}


/* ----------------------------- */
/* -----------950px------------- */
/* ----------------------------- */

@media (max-width: 950px){
    .header_top_conteiner{
        -webkit-box-pack: center;
            -ms-flex-pack: center;
                justify-content: center;
    }
    .section_5_logo{
        -ms-grid-columns: 1fr 20px 1fr 20px 1fr 20px 1fr 20px 1fr;
        grid-template-columns: repeat(5, 1fr); /* 2 колонки */
        -ms-grid-rows: 1fr 20px 1fr;
        grid-template-rows: repeat(2, 1fr); /* 3 рядки */
        gap: 20px;
    }
    .section_5_logo > *:nth-child(1){
        -ms-grid-row: 1;
        -ms-grid-column: 1;
    }
    .section_5_logo > *:nth-child(2){
        -ms-grid-row: 1;
        -ms-grid-column: 3;
    }
    .section_5_logo > *:nth-child(3){
        -ms-grid-row: 1;
        -ms-grid-column: 5;
    }
    .section_5_logo > *:nth-child(4){
        -ms-grid-row: 1;
        -ms-grid-column: 7;
    }
    .section_5_logo > *:nth-child(5){
        -ms-grid-row: 1;
        -ms-grid-column: 9;
    }
    .section_5_logo > *:nth-child(6){
        -ms-grid-row: 3;
        -ms-grid-column: 1;
    }
    .section_5_logo > *:nth-child(7){
        -ms-grid-row: 3;
        -ms-grid-column: 3;
    }
    .section_5_logo > *:nth-child(8){
        -ms-grid-row: 3;
        -ms-grid-column: 5;
    }
    .section_5_logo > *:nth-child(9){
        -ms-grid-row: 3;
        -ms-grid-column: 7;
    }
    .section_5_logo > *:nth-child(10){
        -ms-grid-row: 3;
        -ms-grid-column: 9;
    }
    .grid_item_1{
        -ms-grid-column: 1;
        -ms-grid-column-span: 1;
        grid-column: 1/2;
        -ms-grid-row: 1;
        -ms-grid-row-span: 1;
        grid-row: 1 / 2;
    }
    .grid_item_2{
        -ms-grid-column: 2;
        -ms-grid-column-span: 1;
        grid-column: 2 / 3;
        -ms-grid-row: 2;
        -ms-grid-row-span: 1;
        grid-row: 2 / 3;
    }
    .grid_item_3{
        -ms-grid-column: 3;
        -ms-grid-column-span: 1;
        grid-column: 3 / 4;
        -ms-grid-row: 1;
        -ms-grid-row-span: 1;
        grid-row: 1 / 2;
    }
    .grid_item_4{
        -ms-grid-column: 4;
        -ms-grid-column-span: 1;
        grid-column: 4 / 5;
        -ms-grid-row: 2;
        -ms-grid-row-span: 1;
        grid-row: 2 / 3;
    }
    .grid_item_5{
        -ms-grid-column: 5;
        -ms-grid-column-span: 1;
        grid-column: 5/6;
        -ms-grid-row: 1;
        -ms-grid-row-span: 1;
        grid-row: 1 / 2;
    }
    .footer_sc2{
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
            -ms-flex-direction: column;
                flex-direction: column;
    }
    .footer_sc2_1{
        margin: 0 0 20px 0;
    }
    .footer_sc2{
        -webkit-box-align: start;
            -ms-flex-align: start;
                align-items: start;
    }
}

/* ----------------------------- */
/* -----------800px------------- */
/* ----------------------------- */

@media (max-width: 850px){
    .burger{
        display: block;
        position: fixed;
        top: 65/2px;
        right: 15px;
        z-index: 150;
    }
    .burger span{
        display: block;
        width: 25px;
        height: 5px;
        background: #fff;
        border-radius: 3px;
        margin: 5px 0;
    }
    .burger::before, .burger::after{
        content: "";
        display: block;
        width: 25px;
        height: 5px;
        background: #fff;
        border-radius: 3px;
        -webkit-transition: -webkit-transform 0.3s ease;
        transition: -webkit-transform 0.3s ease;
        -o-transition: transform 0.3s ease;
        transition: transform 0.3s ease;
        transition: transform 0.3s ease, -webkit-transform 0.3s ease;
    }
    .burger.active span{
        opacity: 0;
    }
    .burger.active::before{
        -webkit-transform: rotate(-45deg) translate(-7px, 7px);
            -ms-transform: rotate(-45deg) translate(-7px, 7px);
                transform: rotate(-45deg) translate(-7px, 7px);
    }
    .burger.active::after{
        -webkit-transform: rotate(45deg) translate(-7px, -7px);
            -ms-transform: rotate(45deg) translate(-7px, -7px);
                transform: rotate(45deg) translate(-7px, -7px);
    }

    .header_right{
        position: fixed;
        top: 0;
        right: 0;
        bottom: 0;
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
            -ms-flex-direction: column;
                flex-direction: column;
        -webkit-box-pack: justify;
            -ms-flex-pack: justify;
                justify-content: space-between;
        background-color: #131313;
        z-index: 100;
        padding: 75px 0;
        min-width: 300px;
        -webkit-transform: translateX(100%);
            -ms-transform: translateX(100%);
                transform: translateX(100%);
        -webkit-transition: all .3s;
        -o-transition: all .3s;
        transition: all .3s;
        overflow: auto;
    }
    .header_right.active {
        -webkit-transform: translateX(0%);
            -ms-transform: translateX(0%);
                transform: translateX(0%);
    }

    .header_top_zagolovok{
        margin: 0 0 20px 0;
        font-size: 16px;
    }
    .header_nav_list{
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
            -ms-flex-direction: column;
                flex-direction: column;
        -webkit-box-pack: justify;
            -ms-flex-pack: justify;
                justify-content: space-between;
        min-height: 100px;
    }
    .header_nav_item{
        margin: 20px 0;
    }
    .header_nav_link{
        font-size: 17px;
    }
    .header_top_button{
        margin: 20px 0 0 0;
    }
    .sc_1_box{
        -ms-grid-columns: auto;
        grid-template-columns: auto;
        -ms-grid-rows: 600px 600px 600px 600px;
        grid-template-rows: 600px 600px 600px 600px;
    }
    .sc_1_box > *:nth-child(1){
        -ms-grid-row: 1;
        -ms-grid-column: 1;
    }
    .sc_1_box > *:nth-child(2){
        -ms-grid-row: 2;
        -ms-grid-column: 1;
    }
    .sc_1_box > *:nth-child(3){
        -ms-grid-row: 3;
        -ms-grid-column: 1;
    }
    .sc_1_box > *:nth-child(4){
        -ms-grid-row: 4;
        -ms-grid-column: 1;
    }
    .section_3{
        -ms-grid-columns: auto;
        grid-template-columns: auto;
        -ms-grid-rows: 540px 540px;
        grid-template-rows: 540px 540px;
        -webkit-box-pack: justify;
            -ms-flex-pack: justify;
                justify-content: space-between;
    }
    .section_3 > *:nth-child(1){
        -ms-grid-row: 1;
        -ms-grid-column: 1;
    }
    .section_3 > *:nth-child(2){
        -ms-grid-row: 2;
        -ms-grid-column: 1;
    }
    .section_5_logo{
        gap: 5px;
    }
    .more-box-content {
        width: 80vh;
    }  
}

/* ----------------------------- */
/* -----------700px------------- */
/* ----------------------------- */
@media (max-width: 700px){
    .section_5{
        padding: 60px 60px 50px;
    }
    .section_5_logo{
        -ms-grid-columns:  1fr;
        grid-template-columns:  1fr;
        -ms-grid-rows: (1fr)[5];
        grid-template-rows: repeat(5, 1fr); 
    }
    .section_5_logo > *:nth-child(1){
        -ms-grid-row: 1;
        -ms-grid-column: 1; 
    }
    .section_5_logo > *:nth-child(2){
        -ms-grid-row: 2;
        -ms-grid-column: 1; 
    }
    .section_5_logo > *:nth-child(3){
        -ms-grid-row: 3;
        -ms-grid-column: 1; 
    }
    .section_5_logo > *:nth-child(4){
        -ms-grid-row: 4;
        -ms-grid-column: 1; 
    }
    .section_5_logo > *:nth-child(5){
        -ms-grid-row: 5;
        -ms-grid-column: 1; 
    }
    .grid_item_1{
        -ms-grid-column: 1;
        -ms-grid-column-span: 1;
        grid-column: 1/2;
        -ms-grid-row: 1;
        -ms-grid-row-span: 1;
        grid-row: 1 / 2;
    }
    .grid_item_2{
        -ms-grid-column: 1;
        -ms-grid-column-span: 1;
        grid-column: 1/2;
        -ms-grid-row: 2;
        -ms-grid-row-span: 1;
        grid-row: 2 / 3;
    }
    .grid_item_3{
        -ms-grid-column: 1;
        -ms-grid-column-span: 1;
        grid-column: 1/2;
        -ms-grid-row: 3;
        -ms-grid-row-span: 1;
        grid-row: 3 / 4;
    }
    .grid_item_4{
        -ms-grid-column: 1;
        -ms-grid-column-span: 1;
        grid-column: 1/2;
        -ms-grid-row: 4;
        -ms-grid-row-span: 1;
        grid-row: 4 / 5;
    }
    .grid_item_5{
        -ms-grid-column: 1;
        -ms-grid-column-span: 1;
        grid-column: 1/2;
        -ms-grid-row: 5;
        -ms-grid-row-span: 1;
        grid-row: 5 / 6;
    }
}

/* ----------------------------- */
/* -----------650px------------- */
/* ----------------------------- */
@media (max-width: 650px){
    .header_body_text2{
        margin: 1px 30px 18px 30px;
    }
    .header_body_text3{
        margin: 0 15px;
    }
    .sc_1_text p{
        margin: 0 10px;
    }
    .footer{
        padding: 50px 63px;
    }
    .more-box-content {
        width: 60vh;
    }  
}


/* ----------------------------- */
/* -----------500px------------- */
/* ----------------------------- */
@media (max-width: 500px){
    .header_body_text2{
        font-size: 44px;
    }
}
/* ----------------------------- */
/* -----------460px------------- */
/* ----------------------------- */
@media (max-width: 460px){
    .sc1_2_spusku{
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
            -ms-flex-direction: column;
                flex-direction: column;
    }
    .sc1_2{
        margin-bottom: 20px;
    }
    .footer_sc3{
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
            -ms-flex-direction: column;
                flex-direction: column;
    }
    .footer_sc3 p{
        margin-bottom: 25px;
    }
    .more-box-content {
        width: 50vh;
    }  
}

/* ----------------------------- */
/* -----------400px------------- */
/* ----------------------------- */
@media (max-width: 400px){
    .header_right{
        min-width: none;
        left: 0;
    }
    .header_body_icons{
        margin: 4px 20px 41px 0px;
    }
    .header_body_text2{
        font-size: 37px;
    }
    .more-box-content {
        width: 40vh;
    }  
}

